# Preparation

In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [3]:
df = pd.read_csv('movies.csv')
df

                           name  year
0                  Interstellar  2014
1                      Whiplash  2014
2                   I am Legend  2016
3      The Shawshank Redemption  1994
4        Thor: Love and Thunder  2022
5                   Black Widow  2021
6              Ready Player One  2018
7                  The Avengers  2012
8                   Pacific Rim  2013
9  Star Wars: The Force Awakens  2014

In [9]:
movie_list = df['name'].to_list()
movie_list

['Interstellar',
 'Whiplash',
 'I am Legend',
 'The Shawshank Redemption',
 'Thor: Love and Thunder',
 'Black Widow',
 'Ready Player One',
 'The Avengers',
 'Pacific Rim',
 'Star Wars: The Force Awakens']

# Get Api from 1st Website

In [11]:
data =[]

for l in movie_list:
    url = "https://online-movie-database.p.rapidapi.com/auto-complete"
    headers = {
            "X-RapidAPI-Key": "e2f4a51ff7msha4dff8c62181addp1202b5jsn51d575be7d7c",
            "X-RapidAPI-Host": "online-movie-database.p.rapidapi.com"
        }
    querystring = {"q":l}
    response = requests.request("GET", url, headers=headers, params=querystring)
    first = response.json()
    first = first['d'][0]
    data.append(first)

data

[{'i': {'height': 3600,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg',
   'width': 2430},
  'id': 'tt0816692',
  'l': 'Interstellar',
  'q': 'feature',
  'qid': 'movie',
  'rank': 286,
  's': 'Matthew McConaughey, Anne Hathaway',
  'y': 2014},
 {'i': {'height': 5333,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BOTA5NDZlZGUtMjAxOS00YTRkLTkwYmMtYWQ0NWEwZDZiNjEzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg',
   'width': 3600},
  'id': 'tt2582802',
  'l': 'Whiplash',
  'q': 'feature',
  'qid': 'movie',
  'rank': 492,
  's': 'Miles Teller, J.K. Simmons',
  'y': 2014},
 {'i': {'height': 2880,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BYTE1ZTBlYzgtNmMyNS00ZTQ2LWE4NjEtZjUxNDJkNTg2MzlhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg',
   'width': 1944},
  'id': 'tt0480249',
  'l': 'I Am Legend',
  'q': 'feature',
  'qid': 'movie',
  'rank': 1972,
  's': 'Will Smith, Alice Braga',
  'y': 2007},
 {'i': {'height': 1000,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg',
   'width': 674},
  'id': 'tt0111161',
  'l': 'The Shawshank Redemption',
  'q': 'feature',
  'qid': 'movie',
  'rank': 159,
  's': 'Tim Robbins, Morgan Freeman',
  'y': 1994},
 {'i': {'height': 2500,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BYmMxZWRiMTgtZjM0Ny00NDQxLWIxYWQtZDdlNDNkOTEzYTdlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg',
   'width': 1688},
  'id': 'tt10648342',
  'l': 'Thor: Love and Thunder',
  'q': 'feature',
  'qid': 'movie',
  'rank': 78,
  's': 'Chris Hemsworth, Natalie Portman',
  'y': 2022},
 {'i': {'height': 1500,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BNjRmNDI5MjMtMmFhZi00YzcwLWI4ZGItMGI2MjI0N2Q3YmIwXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg',
   'width': 1013},
  'id': 'tt3480822',
  'l': 'Black Widow',
  'q': 'feature',
  'qid': 'movie',
  'rank': 968,
  's': 'Scarlett Johansson, Florence Pugh',
  'y': 2021},
 {'i': {'height': 4096,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BY2JiYTNmZTctYTQ1OC00YjU4LWEwMjYtZjkwY2Y5MDI0OTU3XkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_.jpg',
   'width': 2764},
  'id': 'tt1677720',
  'l': 'Ready Player One',
  'q': 'feature',
  'qid': 'movie',
  'rank': 612,
  's': 'Tye Sheridan, Olivia Cooke',
  'y': 2018},
 {'i': {'height': 1184,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg',
   'width': 800},
  'id': 'tt0848228',
  'l': 'The Avengers',
  'q': 'feature',
  'qid': 'movie',
  'rank': 1062,
  's': 'Robert Downey Jr., Chris Evans',
  'y': 2012},
 {'i': {'height': 1477,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BMTY3MTI5NjQ4Nl5BMl5BanBnXkFtZTcwOTU1OTU0OQ@@._V1_.jpg',
   'width': 999},
  'id': 'tt1663662',
  'l': 'Pacific Rim',
  'q': 'feature',
  'qid': 'movie',
  'rank': 2748,
  's': 'Idris Elba, Charlie Hunnam',
  'y': 2013},
 {'i': {'height': 3240,
   'imageUrl': 'https://m.media-amazon.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_.jpg',
   'width': 2194},
  'id': 'tt2488496',
  'l': 'Star Wars: Episode VII - The Force Awakens',
  'q': 'feature',
  'qid': 'movie',
  'rank': 1219,
  's': 'Daisy Ridley, John Boyega',
  'y': 2015}]

# 1st Output

In [12]:
#extract initial data or 1st output
output = pd.DataFrame(data)
output

,i,id,l,q,qid,rank,s,y
0,"{'height': 3600, 'imageUrl': 'https://m.media-...",tt0816692,Interstellar,feature,movie,286,"Matthew McConaughey, Anne Hathaway",2014
1,"{'height': 5333, 'imageUrl': 'https://m.media-...",tt2582802,Whiplash,feature,movie,492,"Miles Teller, J.K. Simmons",2014
2,"{'height': 2880, 'imageUrl': 'https://m.media-...",tt0480249,I Am Legend,feature,movie,1972,"Will Smith, Alice Braga",2007
3,"{'height': 1000, 'imageUrl': 'https://m.media-...",tt0111161,The Shawshank Redemption,feature,movie,159,"Tim Robbins, Morgan Freeman",1994
4,"{'height': 2500, 'imageUrl': 'https://m.media-...",tt10648342,Thor: Love and Thunder,feature,movie,78,"Chris Hemsworth, Natalie Portman",2022
5,"{'height': 1500, 'imageUrl': 'https://m.media-...",tt3480822,Black Widow,feature,movie,968,"Scarlett Johansson, Florence Pugh",2021
6,"{'height': 4096, 'imageUrl': 'https://m.media-...",tt1677720,Ready Player One,feature,movie,612,"Tye Sheridan, Olivia Cooke",2018
7,"{'height': 1184, 'imageUrl': 'https://m.media-...",tt0848228,The Avengers,feature,movie,1062,"Robert Downey Jr., Chris Evans",2012
8,"{'height': 1477, 'imageUrl': 'https://m.media-...",tt1663662,Pacific Rim,feature,movie,2748,"Idris Elba, Charlie Hunnam",2013
9,"{'height': 3240, 'imageUrl': 'https://m.media-...",tt2488496,Star Wars: Episode VII - The Force Awakens,feature,movie,1219,"Daisy Ridley, John Boyega",2015

In [13]:
#clean the first output
Output=output.drop(['i','l','s','y'],axis=1)
Output

           id        q    qid  rank
0   tt0816692  feature  movie   286
1   tt2582802  feature  movie   492
2   tt0480249  feature  movie  1972
3   tt0111161  feature  movie   159
4  tt10648342  feature  movie    78
5   tt3480822  feature  movie   968
6   tt1677720  feature  movie   612
7   tt0848228  feature  movie  1062
8   tt1663662  feature  movie  2748
9   tt2488496  feature  movie  1219

# Extract Movie ID

In [14]:
MovieID_list = Output['id'].tolist()                 # Get row indices
print(MovieID_list)

['tt0816692', 'tt2582802', 'tt0480249', 'tt0111161', 'tt10648342', 'tt3480822', 'tt1677720', 'tt0848228', 'tt1663662', 'tt2488496']