# Preparation

In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [3]:
df = pd.read_csv('movies.csv')
df

                           name  year
0                  Interstellar  2014
1                      Whiplash  2014
2                   I am Legend  2016
3      The Shawshank Redemption  1994
4        Thor: Love and Thunder  2022
5                   Black Widow  2021
6              Ready Player One  2018
7                  The Avengers  2012
8                   Pacific Rim  2013
9  Star Wars: The Force Awakens  2014

In [4]:
movie_list = df['name'].to_list()
movie_list

['Interstellar',
 'Whiplash',
 'I am Legend',
 'The Shawshank Redemption',
 'Thor: Love and Thunder',
 'Black Widow',
 'Ready Player One',
 'The Avengers',
 'Pacific Rim',
 'Star Wars: The Force Awakens']